<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>გამარჯობა ეს არის მთავარი გვერდი</h1>
{% for i in subjects %}
    <p>ქვეყანა: {{ i }}</p>
    {% if i == 'საქართველო' %}
        <p>დედაქალაქი: თბილისი</p>
    {% elif i == 'თურქეთი' %}
        <p>დედაქალაქი: ანკარა</p>
    {% elif i == 'აზერბაიჯანი'  %}
        <p>დედაქალაქი: ბაქო</p>
    {% elif i == 'რუსეთი'  %}
        <p>დედაქალაქი: მოსკოვი</p>
    {% elif i == 'სომხეთი'  %}
        <p>დედაქალაქი: ერევანი</p>

    {% endif %}
{% endfor %}
</body>
</html>